.container{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-rows: 100px 200px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 40px;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

.containerReto{
    border: 5px solid #359011;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-auto-columns: 150px;
    grid-auto-flow: column;
    gap: 20px;
}

.itemReto {
    border: 5px solid #f9fbfb;
    font-size: 4rem;
    background-color: #1b9736;
}

.containerAlineacion{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    gap: 15px;
    grid-template-columns: 150px 150px 150px;
    grid-auto-rows: 150px;
    height: 600px;
    /* justify-content: center; */
    /* align-content: center; */
    place-content: end;
    justify-items: end;
    align-items: start;
}

.itemAlineacion{
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

.itemAlineacion-2{
    justify-self: start;
    align-self: end;
}

.containerAlineacionReto{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    gap: 15px;
    grid-template-columns: 150px 150px;
    grid-auto-rows: 150px;
    height: 400px;
    place-content: Center;
    place-items: end;
}

.itemAlineacionReto{
    border: 5px solid #00bcd4;
    font-size: 4rem;
}