.container{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-rows: 100px 200px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 40px;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

.containerReto{
    border: 5px solid #359011;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-auto-columns: 150px;
    grid-auto-flow: column;
    gap: 20px;
}

.itemReto {
    border: 5px solid #f9fbfb;
    font-size: 4rem;
    background-color: #1b9736;
}

/*-----------ALINEACION-------------*/

.containerAlineacion{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    gap: 15px;
    grid-template-columns: 150px 150px 150px;
    grid-auto-rows: 150px;
    height: 600px;
    /* justify-content: center; */
    /* align-content: center; */
    place-content: end;
    justify-items: end;
    align-items: start;
}

.itemAlineacion{
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

.itemAlineacion-2{
    justify-self: start;
    align-self: end;
}

/*-----------ALINEACION RETO-------------*/

.containerAlineacionReto{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    gap: 15px;
    grid-template-columns: 150px 150px;
    grid-auto-rows: 150px;
    height: 400px;
    place-content: Center;
    place-items: end;
}

.itemAlineacionReto{
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

/*-----------UBICACION-------------*/

.containerUbicacion{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    grid-template-areas: 
        "header header header"
        "side main main"
        "side main main";
    place-content: center;
}

.itemUbicacion {
    font-size: 4rem;
}

.itemUbicacion-1{
    border: 5px solid #f8bbd0;
    background-color: #ffeeff;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-area: header;
}

.itemUbicacion-2{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    /* grid-row: 2 / 4; */
    grid-area: side;
}

.itemUbicacion-3{
    border: 5px solid #b2ebf2;
    background-color: #e5ffff;
    /* grid-area: 2 / 2 / 4 / 4; */
    grid-area: main;
}

.containerUbicacionReto{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 200px;
    grid-auto-flow: row;
    place-content: center;
}

.itemUbicacionReto{
    font-size: 4rem;
}

/*-----------UBICACION RETO-------------*/

.itemUbicacionReto-1{
    background-color: #89d631;
    grid-column: 1/2;
}
.itemUbicacionReto-2{
    background-color: #419f00;
    grid-column: 2/4;
}
.itemUbicacionReto-3{
    background-color: #5ab507;
    grid-column: 1/3;
}
.itemUbicacionReto-4{
    background-color: #c7eb7a;
    grid-column: 3/4;
}
.itemUbicacionReto-5{
    background-color: #72cb10
}
.itemUbicacionReto-6{
    background-color: #ffffbb;
}
.itemUbicacionReto-7{
    background-color: #66c00b;
}

/*-----------FUNCIONES ESPECIALES-------------*/

/* minmax: ayuda a declarar el tamaño minimo y maximo 
para el ancho y alto de una celda, sin depender del 
contenido que tengamos en ella

repeat : se usa cuando todas las columnas o 
ilas tienen el msmo ancho y evitar repetir 
el tamaño de las columnas */

.containerFE{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: minmax(30px,300px) 200px minmax(60px, 250px);
    grid-template-rows: repeat(3, auto);
}

.itemFE {
    border: 5px solid #00bcd4;
    font-size: 2rem;
}

/*-----------FKEYWORDS ESPECIALES-------------*/

/* fr : Es una unidad de medida especial de css grid para darle ancho o alto 
a filas y columnas 1fr representa una fraccion del total de columnas o filas.

min-content : Ajusta el ancho de la celda lo mínimo posible sin romper su contenido.
max-content : Ajusta el ancho de la celda lo máximo posible para mostrar su contenido.
auto-fill : Agrega columnas “fantasma” que rellenan el espacio sobrante del contenedor.
auto-fit : Ensancha las columnas para que ocupen todo el espacio del contenedor.
auto-fill y auto-fit ayudan a la grilla a ocupar el 100% del espacio disponible */

.containerKE{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.itemKE {
    border: 5px solid #00bcd4;
    font-size: 2rem;
}

.containerKE2{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(auto-fill,minmax(100px, 1fr));
}